<form novalidate [formGroup]="loginForm" 
  (ngSubmit)="onSubmitLogin(loginForm)" >

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Username" name="username" formControlName="username">

    <mat-error *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.required">
      Username is required
    </mat-error>
    <mat-error *ngIf="loginForm.controls.username.touched && loginForm.controls.username.errors?.minlength">
      Minimum username length is 3 characters
    </mat-error>    
  </mat-form-field>

  
  
  <div *ngIf="isSitter">
    Yes it is a sitter
  </div>

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Password" name="password" formControlName="password">
  </mat-form-field>
  
  <div *ngIf="loginForm.controls.password.touched && !loginForm.controls.password.valid">
    password is required
  </div>


  <!-- <div *ngIf="name.invalid && (name.dirty || name.touched)"
    class="alert alert-danger">

  <div *ngIf="name.errors.required">
    Name is required.
  </div>
  <div *ngIf="name.errors.minlength">
    Name must be at least 4 characters long.
  </div>
  <div *ngIf="name.errors.forbiddenName">
    Name cannot be Bob.
  </div> -->
<!-- </div> -->



  <button>Login</button>
</form>

{{loginForm}}

<button (click)="showSitter()">Register a sitter</button>