<mat-card class="example-card" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{sitter.firstname}} {{sitter.lastname}}</mat-card-title>
    <mat-card-subtitle>{{sitter.education}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      {{sitter.description}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button class="e2e-btnEdit"
    [routerLink]="['../edit-sitter', sitter.sitterId]">Edit</button>
    <button mat-button (click)="shareSitter()">SHARE</button>
    <button mat-button (click)="sitterActions.deleteSitter(sitter.sitterId)">Delete Sitter</button>
  </mat-card-actions>
</mat-card>